header {
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  color: darkred;
  border: 2px solid darkred;
  background: black;
  font: Impact;
}

.container {
  max-width: 700px;
  max-height: 510px;
  display: table;
  margin: 0 auto;
}
.context1{
  width: 200px;
  height: 200px;
  float: right;
  display: inline-block;
  border: 2px solid white;
  color: darkred;
  background: black;
  font-size: 20px;
  margin: 0 10px 0 10px;
}
.context2{
  width: 200px;
  height: 200px;
  float: right;
  display: inline-block;
  border: 2px solid white;
  color: darkred;
  background: black;
  font-size: 20px;
  margin: 0 10px 0 10px;
}

.context3{
  width: 200px;
  height: 200px;
  float: right;
  display: block;
  border: 2px solid white;
  color: darkred;
  background: black;
  font-size: 20px;
  margin: 0 10px 0 10px;
  
}
.slot {
  width: 200px;
  height: 350px;
  float: right;
  display: block;
  background: black;
  border: 2px solid white;
  color: darkred;
  margin: 0 10px 0 10px;
}
.pone {
  margin: 0 auto;
  display: table;
}
.ptwo {
  text-align: center;
  font-size: 25px;
}
/*.left {
  float: left;
}*/
